﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges /
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/ Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
/
.dl-horizontal dt {
    white-space: normal;
}

/ Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login{
    padding-top:15%;
    color:white;
}

.row{
    color:white;
    padding-bottom:15%;
}

.upload{
    padding:5px;
    margin-top:5px;
    width:6%;
    background-color:rgba(240, 240, 255, 0.7);
}

#thumbnail {
    margin: 20px;
    width: 25%;
    float: left;
}

#redButton{
    background-color: #ff0000;
    width: 11.5px; height:64px;
}

#blueButton{
    background-color: #0000ff;
    width: 11.5px; height:64px;
}

#greenButton{
    background-color: #00ff00;
    width: 11.5px; height:64px;
}

#yellowButton{
    background-color: #ffff00;
    width: 11.5px; height:64px;
}

#blackButton{
    background-color: #000000;
    width: 11.5px; height:64px;
}

#whiteButton{
    background-color: #ffffff;
    width: 11.5px; height:64px;
}

#color {
    width: 69px;
    display: inline-flex;
    border: solid black 2px;
}

#textDiv{
    width: 160px;
    height: 68px;
}

#toolbar {
    border: solid black 2px;
    padding: 5px;
    margin: 20px;
    float: right;
    display: inline-flex;
}

#toolbar > div{
    margin: 10px;
    width: 80px;
    height: 68px;
    align-content: center;
    text-align: center;
}

#textBox {
    width: 160px;
    height: 68px;
}

#slider{
    -webkit-appearance: slider-vertical;
    height: 80px;
    width: 8px;
}

input[type=range][orient=vertical]
{
    writing-mode: vertical-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 68px;
    padding: 0 5px;
}

#canvas{
    margin:auto;
    margin-top:2%;
}

#toolbar button {
    margin: 5px;
}

#canvas {
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom:2%;
}

body{
    background: url("../../Images/space.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding:0;
    height:100%;
}

.render-container{
    padding-top:5%;
    background-color:rgba(20, 20, 70, 0.4);
}
#searchbar{
    background-color:rgba(240, 240, 255, 0.7);
    padding:5%;
    border-style:ridge;
    margin-bottom:20%;
    padding-bottom:5%;
}
footer{
    padding:.1%;
    color:white;
}

#upload{
    background-color:rgba(240, 240, 255, 0.7);
    padding:5%;
    width:70%;
    height:100%;
    margin:auto;
    text-align:center;
    margin-bottom:10%;
    margin-top:10%;
}
#welcome{
    background-color:rgba(0,0,0,0.9);
    color:white;
    width:100%;
    margin:auto;
    padding-top:5%;
    padding-bottom:5%;
    margin-bottom:2%;
    margin-top:15%;
    text-align:center;
}