﻿@model MapPlanLib.Models.AllUploads
@{
            ViewBag.Title = "Home Page";
            IEnumerable<SelectListItem> colorDropDown = new List<SelectListItem>()
    {
        new SelectListItem() { Disabled=false, Text="Red", Value="#ff0000", Selected =false },
        new SelectListItem() { Disabled=false, Text="Blue", Value="#0000ff", Selected=false },
        new SelectListItem() { Disabled=false, Text="Yellow", Value="#ffff00", Selected=false },
        new SelectListItem() { Disabled=false, Text="Green", Value="#00ff00", Selected=false },
        new SelectListItem() { Disabled=false, Text="Black", Value="#000000", Selected=false },
        new SelectListItem() { Disabled=false, Text="White", Value="#ffffff", Selected=false }
    };
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

@if (TempData["URL"] != null)
{<canvas id="canvas" width="1140" height="500"></canvas>
<img src="" id="mirror" style="visibility: hidden"/>
    string url = TempData["URL"].ToString();
    <style>
        canvas
        {
            background-color: black;
            background-image: url(@url);
            background-repeat: no-repeat;
            background-size: contain;
            background-position:50%;
        }
    </style>
    <div id="toolbar">
        <div id="penDiv">
            <img id="penButton" src="~/Images/pen.png" />
        </div>
        <div id="rectangleDiv">
            <img id="rectangleButton" src="~/Images/square.png"/>
        </div>
        <div id="textdiv">
            <img id="textButton" src="~/Images/text.png" />
        </div>
        <div id="textDiv" style="width:160px">
            <textarea id="textBox">Text goes here</textarea>
        </div>
        <div style="width:40px">
            <input type="range" orient="vertical" name="scale" id="scale" value="5" min="1" max="50">
        </div>
        <div id="color" style="display:inline-flex; width: 69px;">
            <div id="redButton"></div>
            <div id="blueButton"></div>
            <div id="yellowButton"></div>
            <div id="greenButton"></div>
            <div id="blackButton"></div>
            <div id="whiteButton"></div>
            <!--@Html.DropDownList("color", colorDropDown)-->
       </div>
        <div id="undoDiv">
            <img id="undoButton" src="~/Images/undo.png" />
        </div>
        <div id="clearDiv">
            <img id="clearCanvas" src="~/Images/clear.png" />
        </div>
        <div>
            <a href="#" id="download" download="map-plan.png">Download</a>
        </div>
    </div>

    if((string)TempData["CATEGORY"] == "icon")
    {
        <script src="~/Scripts/Icon.js" type="text/javascript"></script>
    }
}else
{
    <div id="welcome">
        <h1>Search for a map to begin planning!</h1>
    </div>
}

<div id="searchbar">
    @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SearchResults" }))
    {
        if (TempData["URL"] != null)
        {
            <h1>Search Icons</h1>
            <input type="hidden" value="icon" placeholder="icon" name="cat"/>
        }
        else
        {
            <h1>Search Maps</h1>
            <input type="hidden" value="map" placeholder="map" name="cat"/>
        }
        <input type="text" placeholder="Tags" name="Tags" />
        <input type="submit" name="Command" value="Search" />
    }

    <div id="SearchResults"></div>
    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="upload">
            @Html.ActionLink("Upload", "Upload")
        </div>
    }
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/canvas.js")
