﻿@model MapPlanLib.Models.UploadModel

@{
    ViewBag.Title = "Upload";
}
<div id="upload">
    <h2>Upload</h2>
    @using (Html.BeginForm())
    {
        <label>Image URL: </label>@Html.TextBoxFor(Model => Model.IMG_URL)<br />
        if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <label>Keep Private:</label>@Html.CheckBoxFor(Model => Model.ISPRIVATE)<br />
        }
        <label>Category:</label>@Html.EnumDropDownListFor(Model => Model.CATEGORY)<br />
        <label>Tags:</label>@Html.TextAreaFor(Model => Model.TAGS)<br />
        <input type="submit" value="Upload" />
    }
</div>
<!--System.Diagnostics.Debug.WriteLine("Hello " + System.Web.HttpContext.Current.User.Identity.Name.ToString());-->